<main class="container mt-5">
	<div class="alert alert-danger">
		<h4 class="alert-heading"><%= err.message %> </h4>
		<p><strong><%= err.statusCode %></strong></p>
		<hr>
		<div class="alert alert-danger">
			Click <a class="alert-link" href="#" onclick="history.back()">this link</a> to return to the previous page.
		</div>
	</div>
</main>