<%- include("../partials/header") %>
<style>
  .menuButton {
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 1.25rem;
    border-radius: 0%
  }
</style>
<main class="container w-50 mt-5">
  <div class="card" style="border: none; box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
  <div class="row d-flex justify-content-evenly mt-3">
    <a
      class="btn btn-primary text-light menuButton col-md-4"
      type="button"
      href="/admin/addPass"
      ><strong>Add<br />Passphrase</strong></a
    >
    <a
      class="btn btn-info text-light menuButton col-md-4"
      type="button"
      href="/admin/passTable"
      >View &amp;<br />Edit Passphrase</a
    >
  </div>
  <div class="row d-flex justify-content-evenly mt-4">
    <a
      class="btn btn-info text-light menuButton col-md-4"
      type="button"
      href="/admin/deptRecords"
      >View Check-in/<br />out Records</a
    >
    <a
      class="btn btn-info text-light menuButton col-md-4"
      type="button"
      href="/admin/feedbackRecords"
      >View<br />Feedback Records</a
    >
  </div>
  <div class="row d-flex justify-content-center mt-4 my-3">
    <a class="btn btn-outline-dark btn-lg col-md-8" type="button" href="/"
      >Back</a
    >
  </div>
</div>
</div>
</main>

