<%- include("../partials/DatatablesDependencies") %> <%-
include("../partials/header") %>
<style>
  thead tr,
  tfoot tr {
    background-color: #f1f1f1;
  }
  th {
    white-space: nowrap;
  }
</style>
<main class="container">
  <div class="card" style="width: 100%;">
    <div class="card-body">
  <hr />
  <div class="row g-3 mb-3">
    <a class="btn btn-outline-danger w-100" type="button" href="/admin"
      ><strong>Go Back</strong></a
    >
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Department</th>
        <th scope="col">Full Name</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Passphrase</th>
        <th scope="col">Date of Visit</th>
        <th scope="col">Role</th>
        <th scope="col">No. of times</th>
        <th scope="col">Purpose</th>
        <th scope="col">Wait time</th>
        <th scope="col">Wait Time Elaboration</th>
        <th scope="col">Time Spent</th>
        <th scope="col">Time Spent Elaboration</th>
        <th scope="col">Service Performance</th>
        <th scope="col">Service Performance Remarks</th>
        <th scope="col">Paperwork</th>
        <th scope="col">Paperwork Remarks</th>
        <th scope="col">Remarks</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Department</th>
        <th scope="col">Full Name</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Passphrase</th>
        <th scope="col">Date of Visit</th>
        <th scope="col">Role</th>
        <th scope="col">No. of times</th>
        <th scope="col">Purpose</th>
        <th scope="col">Wait time</th>
        <th scope="col">Wait Time Elaboration</th>
        <th scope="col">Time Spent</th>
        <th scope="col">Time Spent Elaboration</th>
        <th scope="col">Service Performance</th>
        <th scope="col">Service Performance Remarks</th>
        <th scope="col">Paperwork</th>
        <th scope="col">Paperwork Remarks</th>
        <th scope="col">Remarks</th>
      </tr>
    </tfoot>
  </table>
</div>
</div>
</main>
<%- include("../partials/footer") %>
<script>
  $(document).ready(function () {
    $(".table").DataTable({
      columnDefs: [
        {
          defaultContent: "-",
          targets: "_all",
        },
      ],
      dom: "<'row'<'col-md-4'l><'col-md-4 text-center'B><'col-md-4'f>><'row'<'col-md-12't>><'row'<'col-md-6'i><'col-md-6'p>>",
      buttons: [
        {
          extend: "csv",
          className: "btn-sm",
        },
        {
          extend: "excel",
          className: "btn-sm",
        },
        {
          extend: "pdf",
          className: "btn-sm",
        },
      ],
      ajax: "getFeedbackData",
      columns: [
        {
          data: "index",
          render: function (data, type, row, meta) {
            return data + 1;
          },
        },
        { data: "dept" },
        { data: "fullName" },
        {
          data: "contact",
          render: function (data, type, row, meta) {
            return `+65 ${data.substring(0, 4)} ${data.substring(4)}`;
          },
        },
        {
          data: "pass",
          render: function (data, type, row, meta) {
            return Object.keys(data).length === 0
              ? "-"
              : Object.keys(data).join(", ");
          },
        },
        {
          data: "timeIn",
          type: "date",
          render: function (data, type, row, meta) {
            return moment(data, "DD-MM-YYYY HH:mm").format("D MMM YYYY");
          },
        },
        {
          data: "role",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "count",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "purpose",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "wait",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "waitelaborate",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "time",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "timeelaborate",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "service",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "serviceComment",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "paperwork",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "paperworkComment",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
        {
          data: "comment",
          render: function (data, type, row, meta) {
            return data ? data : "-";
          },
        },
      ],
      order: [[0, "desc"]],
      orderCellsTop: true,
      pagingType: "first_last_numbers",
      initComplete: function () {
        this.api()
          .columns()
          .every(function () {
            const column = this;

            const controlTr = $(".table thead tr:eq(1) th").eq(column.index()),
              search = (regExp) => {
                const searchStr = $.fn.dataTable.util.escapeRegex(regExp);

                column
                  .search(searchStr ? `^${searchStr}$` : "", true, false)
                  .draw();
              };

            switch (column.index()) {
              case 6:
              case 7:
              case 8:
              case 9:
              case 11:
              case 13:
              case 15:
                const select = $(`<select class="form-select form-select-sm">
								<option value="">All</option>
							</select>`)
                  .appendTo(controlTr)
                  .on("change", function () {
                    const regExp = $(this).val();

                    search(regExp);
                  });

                column
                  .data()
                  .unique()
                  .sort()
                  .each(function (value, index) {
                    select.append(`<option value="${value}">${value}</option>`);
                  });
                break;
              case 5:
                $("<input class='form-control form-control-sm' type='date'>")
                  .appendTo(controlTr)
                  .on("change", function () {
                    const regExp = $(this).val()
                      ? moment($(this).val(), "YYYY-MM-DD").format("D MMM YYYY")
                      : $(this).val();

                    search(regExp);
                  });
              default:
            }
          });
      },
      scrollX: true,
    });
  });
</script>
