<header>
  <%- include("./navbar") %>
  <div class="text-center mt-4">
    <img src="/assets/zeroLogo.png" height="100px" style="filter: invert(1)"/>
    <h2 class="mt-2 text-light"><%= header %></h2>
  </div>
</header>
