<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img src="/assets/zeroLogo2.png" height="30px" style="filter: grayscale(100%)"/>
      &nbsp;Saerin Engineering
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-content"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/checkin">Check-in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/checkout">Check-out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/admin">Admin Menu</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
