<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="/styles/main.min.css" />
    <%- style %>
    <title>Mettacademy Labs</title>
  </head>
  <body class="bg-warning">
    <div class="wave-header">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f9f0ed" fill-opacity="1" d="M0,160L48,133.3C96,107,192,53,288,42.7C384,32,480,64,576,106.7C672,149,768,203,864,186.7C960,171,1056,85,1152,64C1248,43,1344,85,1392,106.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
      <%- body %>
    </div>

  </body>
  <footer>
		<script src="/javascripts/bootstrap.bundle.js"></script>
		<script src="/javascripts/moment-with-locales.js"></script>
		<%- script %>
		
		<script>
			(function() {
			
				const idleDurationSecs = 300;    // X number of seconds
				const redirectUrl = 'http://192.168.1.145:8080';  // Redirect idle users to this URL
				let idleTimeout; // variable to hold the timeout, do not modify
			
				const resetIdleTimeout = function() {
			
					// Clears the existing timeout
					if(idleTimeout) clearTimeout(idleTimeout);
			
					// Set a new idle timeout to load the redirectUrl after idleDurationSecs
					idleTimeout = setTimeout(() => location.href = redirectUrl, idleDurationSecs * 1000);
				};
			
				// Init on page load
				resetIdleTimeout();
			
				// Reset the idle timeout on any of the events listed below
				['click', 'touchstart', 'mousemove'].forEach(evt => 
					document.addEventListener(evt, resetIdleTimeout, false)
				);
			
			})();
		</script>
		
	</footer>
</html>
