<!DOCTYPE html>
<html style="width: 100vw; height: auto"lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/styles/main.min.css" />
    <%- style %>
    <title>Saerin Engineering Check-in System</title>
  </head>
  <body class="img-responsive" style="background-image: linear-gradient(135deg, #000B18, #00172D, #00264D, #02386E, #00498D, #0052A2, #00498D, #02386E, #00264D, #00172D, #000B18);   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color:#464646;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover">
    <%- body %>
  </body>
  <footer style="margin-top: auto">
    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/moment-with-locales.js"></script>
    <%- script %>
  </footer>
</html>
